@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.btn-color {
    background-color: #f1f1f1;
    border-radius: 100px !important;
    margin-top: 35px;
}

::placeholder {
    font-weight: 400;
}

.link {
    font-weight: 300;
    text-decoration: underline;
}

.color-primary {
    background-color: #423FC2;
}

.color-secondary {
    background-color: #504DD6;
}

.color-light {
    background-color: #f1f1f1;
}

.wrapper {
    width: 100%;
}

#sidebar {
    background: url('../img/bg-sidebar.png');
    min-width: 19.5vw;
    max-width: 19.5vw;
    color: #fff;
    position: fixed;
    height: 100vh;
}

#topbar {
    min-width: calc(100% - 19.5vw);
    height: 52.56px;
    position: fixed;
    margin-left: 19.5vw;
    z-index: 999;
}

#content {
    width: calc(100% - 19.5vw);
}

li h6 {
    font-size: 1.1vw;
}

.title-sidebar {
    font-size: 1.7vw;
}

.box-stat {
    height: 200px;
}

.box-stat h1 {
    font-size: 12vh;
}

.text-color-primary {
    color: #423FC2;
}

.card-siswa {
    transition-duration: 0.5s;
}

.card-siswa:hover {
    box-shadow: 0px 0px 10px #ccc;
}

.profile-pic {
    position: relative;
    bottom: 65px;
}
