
/* .table {
    width: 100%;
    margin-bottom: 1rem;
    color: blue;
} */

.table .thead-dark th {
    color: #fff;
    background-color: #432fc2;
    border-color: #432fc2;
}

/* .home {
    height: 100vh;
} */

.home .box {
    height: 230px;
    background-color: #c9c9c9;
}

.sidebar {
    background: url(../img/bg-sidebar.png);
}

