#timeline-content {
    margin-top: 35px;
    text-align: center;
    }
    /* Timeline */
    .timeline {
    border-left: 4px solid #004ffc;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: white;
    color: black;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 25px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 50%;
    }
    .timeline h1 {
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
    }
    .timeline h2,
    .timeline h3 {
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4em;
    }
    .timeline .event {
    border-bottom: 1px dashed #004ffc;
    padding-bottom: 10px;
    margin-bottom: 50px;
    position: relative;
    }
    .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
    }
    .timeline .event:before,
    .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
    }
    .timeline .event:before {
    left: -217.5px;
    color: rgba(255, 255, 255, 0.4);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
    }
    .timeline .event:after {
    box-shadow: 0 0 0 4px #004ffc;
    left: -33px;
    background: #313534;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
    }
