@media (max-width: 1216px) {
    #sidebar {
        min-width: 6vw;
        max-width: 6vw;
    }

    #topbar {
        margin-left: 6vw;
        width: calc(100% - 6vw);

    }

    .icon-nav {
        padding-left: 2vw !important;
    }

    .nav-list {
        display: none !important;
    }

    .logo {
        display: none !important;
    }

    .title-sidebar {
        display: none !important;
    }

    #content {
        width: calc(100% - 6vw);
    }
}

@media (max-width: 1100px) {
    #sidebar {
        min-width: 67px;
        max-width: 67px;
    }
    #content {
        width: calc(100% - 67px);
    }
}
