body {
    margin: 0;
    padding: 0;
    position: absolute;
    background: url('../img/sepi-back.png') 0 0 no-repeat fixed;
    background-size: cover;
}

.container-login {
    width: 100% !important;
    position: fixed;
}

.box-login {
    padding-top: 15.5vh;
    width: 504px;
    height: 100vh;
}

.box-regis {
    padding-top: 7.5vh;
    width: 504px;
    height: 100vh;
}
